.actionBtn {
    padding: 0px 7px;
    margin-right: 10px;
    border: 1px solid slateblue;
    border-radius: 4px; 
  }
#testBtn {
  background-color: yellow;
  padding-top: 2.5px;
}
#testBtn:hover {
  background-color: gold;
}
#updateBtn {
  background-color: rgb(30, 172, 30);
}
#updateBtn:hover {
  background-color: Forestgreen;
}
#deleteBtn {
  background-color: red;
}
#deleteBtn:hover {
  background-color: Firebrick;
}