table {
  width: 1000px;
  height: 250px;
  border: 2px solid slateblue;
  border-collapse: collapse;
  margin: 0 auto;
} 
#title {
  background-color: rgb(205, 205, 205);
}
tr {
  border: 2px solid slateblue;
  margin: 5px;
} td {
  text-align: center;
}

.mainBtn {
  text-align: center;
}
.main:hover {
  background-color:gray;
}
.addBtn {
  font-size: 20px;
  color: white;
  background-color: cornflowerblue;
  width: 495px;
  height: 40px;
  margin: 5px;
  border-radius:10px;
  border-color: slateblue;
}
.apptestBtn {
  font-size: 20px;
  color: white;
  background-color: darkseagreen;
  
  width: 495px;
  height: 40px;
  margin: 5px;
  border-radius:10px;
  border-color: slateblue;
}

.actionBtn {
  padding: 0px 7px;
  margin-right: 10px;
}
#testBtn {
  background-color: yellow;
  border: 1px solid gray;
  border-radius: 4px;
  padding-top: 2.5px;
}
#updateBtn {
  background-color: rgb(30, 172, 30);
  border: 1px solid gray;
  border-radius: 4px;
}
#deleteBtn {
  background-color: red;
  border: 1px solid gray;
  border-radius: 4px;
}
